<nav class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="/">Title</a>

    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <% if(session.authenticated) { %>
                <li>
                    <a href="/a/profile">
                        <%= session.username %>
                    </a>
                </li>
                <li>
                    <a href="/a/logout">Logout</a>
                </li>
                <% } else { %>
                <li>
                    <a href="/a/login">Login</a>
                </li>
                <li>
                    <a href="/a/signup">Sign up</a>
                </li>
            <% } %>
        </ul>
    </div>

</nav>