<html lang="en">
  
  <head>
    <% include ../partials/head %>
  </head>
  
  <body>
    
    <header>
      <% include ../partials/header %>
    </header>
    
		<section class="uk-section uk-section-large uk-section-secondary">
			<div class="uk-container uk-container-small uk-text-center">
				<h1>Shrink Url</h1>
				<p class="uk-text-large">Paste a long Url and press Submit</p>
				<form class="uk-text-center" uk-grid>
				  <div class="uk-width-3-4">
				    <input class="uk-input" type="text" placeholder="https://">
				  </div>
				  <div class="uk-width-auto">
				    <button class="uk-button uk-button-default">Submit</button>
				  </div>
				</div>
			</div>
		</section>
    
    <footer>
      <% include ../partials/footer %>
    </footer>
    
  </body>
  
</html>